@font-face {
    font-family: "VisbyCF-Regular";
    src: url('https://goodcitizens.s3.ap-southeast-2.amazonaws.com/Webfont/webFonts/VisbyCFRegular/font.woff2') format('woff2'), url('https://goodcitizens.s3.ap-southeast-2.amazonaws.com/Webfont/webFonts/VisbyCFRegular/font.woff') format('woff');
}

@font-face {
    font-family: "VisbyCF-Heavy";
    src: url('https://goodcitizens.s3.ap-southeast-2.amazonaws.com/Webfont/webFonts/VisbyCFHeavy/font.woff2') format('woff2'), url('https://goodcitizens.s3.ap-southeast-2.amazonaws.com/Webfont/webFonts/VisbyCFHeavy/font.woff') format('woff');
}

:root {
    --iss-red: rgb(239, 81, 63);
    --iss-yellow: rgb(255, 220, 4);

    --step-width: 811px;

    --slider-position: 0px;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: white;
}

html, body, p, span {
    font-family: "VisbyCF-Regular";
}

h1 {
    font-family: "VisbyCF-Heavy";
    font-size: 25px;
}

/*
p {
    margin: 2rem 0;
}
*/

button {
    cursor: pointer;
}

input[type="text"], input[type="email"] {
    height: 2rem;

    /*
    border-radius: 5px;
    */

    font-family: 'VisbyCF-Regular', sans-serif;
    /*
    font-weight: 800;
    */
    font-size: 20px;
    line-height: 1.2em;

    border: none;
    border-bottom: 2px solid black;

    margin-bottom: 2rem;
}

input[name="address"] {
    width: calc(100% - 10px);
}

input[type="text"]:focus, input[type="email"]:focus, input[name="address"]:focus {
    outline: none;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.container {
    width: 60%;
    height: 100%;

    margin: 0 auto;
    padding: 0 4rem;

    display: flex;

    flex-direction: column;
    /*
    justify-content: space-around;
    */
}

/*.progress-indicator > p,*/ .progress-indicator > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progress-indicator > p {
    font-family: 'VisbyCF-Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.44em;
}

.progress-bar-container {
    width: 100%;
    height: 10px;

    background-color: #f0f0f0;
    border-radius: 5px;
}

.progress-bar-container > .progress-bar {
    height: 100%;

    background-color: var(--iss-red);
    border-radius: 5px;

    transition: width 0.5s ease;
}

.question > h1 {
    font-size: 25px;
}

.question > * {
    margin: 1rem 0;
}

.question:nth-child(n+2) {
    margin-top: 2rem;
}

.slider-container {
    width: 90%;

    margin: 0 auto;
}

.slider-container > input[type="range"] {
    width: calc(100% - 10px);

    -webkit-appearance: none;
    appearance: none;
    outline: none;

    background-image: url("../images/slider.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

.slider-container > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 22px;
    height: 35px;
    background-color: transparent;
    background-image: url("../images/thumb.svg");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translateY(-24px);
}

.slider-container .top-legend, .slider-container .bottom-legend {
    position: relative;

    width: 100%;
    height: 1rem;
}

.slider-container .top-legend .left {
    position: absolute;

    left: 0;
    top: 0;

    opacity: 1;

    transition: opacity 0.2s ease;
}

.slider-container .top-legend .left.hidden {
    opacity: 0;
}

.slider-container .top-legend .right {
    position: absolute;

    right: 0;
    top: 0;

    opacity: 1;

    transition: opacity 0.2s ease;
}

.slider-container .top-legend .right.hidden {
    opacity: 0;
}

.slider-container .bottom-legend .follow {
    position: absolute;

    left: calc(var(--slider-position) - .5rem);
    font-weight: 800;
}

.radio-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.radio-button-container > label {
    position: relative;

    width: 230px;
    height: 60px;

    margin: 0 .5rem;

    background-color: white;
    border: 5px solid black;
}

/* .radio-button-container > label > input,*/
.radio-button-container > label > span {
    position: absolute;

    display: block;

    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    cursor: pointer;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    transition: background-color 0.3s ease;
}

.radio-button-container input[type="radio"] {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    opacity: 0;
    visibility: hidden;
}

.radio-button-container input[type="radio"]:checked + span, .radio-button-container > label > span:hover {
    background-color: var(--iss-yellow);
}

.button-container button {
    width: 200px;
    height: 80px;
}

.step-frame {
    position: relative;

    width: 100%;
    height: 65%; /*50vh;*/
    min-height: 280px;

    /* background-color: #eee; */

    overflow: hidden;
}

.step-container {
    position: absolute;

    left: 0;
    top: 0;

    height: 100%;

    display: flex;
    flex-direction: row;

    transition: left 0.2s ease;
}

.step-container.step-1 {
    left: 0;
}

.step-container.step-2 {
    left: calc(-1 * var(--step-width));
}

.step-container.step-3 {
    left: calc(-2 * var(--step-width));
}

.step-container.step-4 {
    left: calc(-3 * var(--step-width));
}

.step-container.step-5 {
    left: calc(-4 * var(--step-width));
}

.step-container .step {
    width: var(--step-width);
    height: 100%;

    display: flex;

    flex-direction: column;

    /* justify-content: space-around; */
}

.details-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-form table tr {
    height: 100px;
}

.navigation-container {
    display: flex;

    justify-content: flex-end;
}

.navigation-container button {
    width: 234px;
    height: 64px;

    margin-left: 2rem;

    background-color: white;
}

.navigation-container button.back-button {
    color: var(--iss-red);

    border: none;

    font-family: 'Visby CF', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.navigation-container button.next-button {
    color: white;

    border: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='234' height='64' viewBox='0 0 234 64'%3E%3Cpath id='Path_1' data-name='Path 1' d='M782.5,189.907q104.37-.535,208.772-1.175c5.957-.036,12.539-.016,16.991,1.007,5.113,1.174,5.374,3.179,5.253,4.946-1.069,15.683-2.139,36.68-3.208,52.362-.064.949-.284,2-2.865,2.674-2.51.658-6.436.746-10.007.794q-94.7,1.279-189.472,2.193c-6.027.058-13.027,0-16.711-1.229-2.181-.73-2.6-1.7-2.928-2.619-6.416-17.891-9.462-41.2-8.666-59.163' transform='translate(-779.54 -188.723)' fill='%23ef503f'/%3E%3C/svg%3E%0A");

    font-weight: 800;
    font-size: 20px;

    transform: scale(1);

    transition: transform 0.3s ease;
}

.navigation-container button.next-button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }

    .container {
        width: auto;

        margin: 0 .5rem;
        padding: 0;
    }

    .question > h1, h1 {
        font-size: 18px;
    }

    .question:nth-child(n+2) {
        margin-top: 0;
    }

    input[type="text"], input[type="email"] {
        font-size: 14px;

        margin-bottom: 1rem;
    }

    .navigation-container {
        justify-content: center;
    }

    .navigation-container button {
        margin: 0 .5rem;

    }
}